$morado: rgb(140, 60, 150);
$amarillo: rgba(255,201,4,1);
$azul: rgba(48,48,145,1);
$darkgrey: rgb(58, 58, 58);
$lightgrey: rgb(237, 237, 237);
$hovmorado: rgba(139, 60, 150, 0.74);
$hovlightgrey: rgb(221, 221, 221);

